/*?---------header-----------*/
@import './components/header/header';

/* -------------PRODUCTS-------------- */
@import './components/mainpages/products/products';

/* Product item */
@import './components/mainpages/utils/productItem/productItem';


/*---------Detail Product--------*/
@import './components/mainpages/detailProduct/detailProduct';

// Loading
@import './components/mainpages/utils/loading/loading';


//login 
@import './components/mainpages/auth/login';

// cart
@import './components/mainpages/cart/cart'